[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.md-autocomplete-suggestions li {
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: normal;
}

.md-autocomplete-suggestions li:last-child {
    border-bottom-width: 0;
}

.md-autocomplete-suggestions .item-title,
.md-autocomplete-suggestions .item-metadata {
    display: block;
    line-height: 2;
}

.md-autocomplete-suggestions .item-title md-icon {
    height: 18px;
    width: 18px;
}