<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="../../../../bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body layout="column">

    <div ng-controller="MainController as vm" style="padding: 40px;" ng-cloak class="datepickerdemoBasicUsage">
        <md-content>

            <h4>Standard date-picker</h4>
            <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>

            <h4>Disabled date-picker</h4>
            <md-datepicker ng-model="myDate" md-placeholder="Enter date" disabled></md-datepicker>

            <h4>Date-picker with min date and max date</h4>
            <md-datepicker ng-model="myDate" md-placeholder="Enter date" md-min-date="vm.minDate" md-max-date="vm.maxDate"></md-datepicker>

            <h4>Only weekends are selectable</h4>
            <md-datepicker ng-model="myDate" md-placeholder="Enter date" md-date-filter="vm.onlyWeekendsPredicate"></md-datepicker>

            <h4>Only weekends within given range are selectable</h4>
            <md-datepicker ng-model="myDate" md-placeholder="Enter date" md-min-date="vm.minDate" md-max-date="vm.maxDate" md-date-filter="vm.onlyWeekendsPredicate"></md-datepicker>

            <h4>Opening the calendar when the input is focused</h4>
            <md-datepicker ng-model="myDate" md-placeholder="Enter date" md-open-on-focus></md-datepicker>

            <h4>With ngMessages</h4>
            <form name="vm.myForm">
                <md-datepicker name="dateField" ng-model="myDate" md-placeholder="Enter date" required md-min-date="vm.minDate" md-max-date="vm.maxDate" md-date-filter="vm.onlyWeekendsPredicate"></md-datepicker>

                <div class="validation-messages" ng-messages="vm.myForm.dateField.$error">
                    <div ng-message="valid">The entered value is not a date!</div>
                    <div ng-message="required">This date is required!</div>
                    <div ng-message="mindate">Date is too early!</div>
                    <div ng-message="maxdate">Date is too late!</div>
                    <div ng-message="filtered">Only weekends are allowed!</div>
                </div>
            </form>

        </md-content>
    </div>

    <script src="../../../../bower_components/angular/angular.min.js"></script>
    <script src="../../../../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../../../../bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="../../../../bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="../../../../bower_components/angular-material/angular-material.min.js"></script>
    <script src="script.js"></script>

</body>

</html>