<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>Template</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="../../../../bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body layout="column">

    <div ng-controller="MainController as vm" class="md-padding checkboxdemoSyncing" ng-cloak style="min-height:270px">
        <div layout="row" layout-wrap>
            <div flex="100" flex-gt-sm="50" layout="column">
                <div>
                    <!--
                        In IE, we cannot apply flex directly to <fieldset>
                        @see https://github.com/philipwalton/flexbugs#9-some-html-elements-cant-be-flex-containers
                    -->
                    <fieldset class="standard">
                        <legend>Using &lt;md-checkbox&gt; with &lt;ng-checked&gt;</legend>
                        <div layout="row" layout-wrap flex>
                            <div flex="50" ng-repeat="item in vm.items">
                                <md-checkbox ng-checked="vm.exists(item, vm.selected)" ng-click="vm.toggle(item, vm.selected)">
                                    {{ item }} <span ng-if="vm.exists(item, vm.selected)">selected</span>
                                </md-checkbox>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div flex="100" flex-gt-sm="50" layout="column">
                <div>
                    <fieldset class="standard">
                        <legend>Using&lt;input type="checkbox"&gt; 
                        </legend>
                        <div layout="row" layout-wrap flex>
                            <div ng-repeat="item in vm.items" class="standard" flex="50">
                                <label>
                                    <input type="checkbox" ng-checked="vm.exists(item, vm.selected)" ng-click="vm.toggle(item, vm.selected)"> {{ item }}
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div flex="100">
                <h2 class="md-title">Selected Items</h2>
                <code style="display: block; padding: 8px;">{{vm.selected | json}}</code>
            </div>
        </div>
    </div>


    <script src="../../../../bower_components/angular/angular.min.js"></script>
    <script src="../../../../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../../../../bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="../../../../bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="../../../../bower_components/angular-material/angular-material.min.js"></script>
    <script src="script.js"></script>

</body>

</html>